body{
    background-color:whitesmoke;
    text-align: center;
}

.weatherContainer{
    background-color: white;
    max-width: 600px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 30px;
    padding: 50px;
}

select{
    color:darkgray;
    padding: 8px;
    border: 1px solid darkgray;
    width: 400px;
}

.city{
    display:flex;
    justify-content: space-around;
}

h2{
    text-align: left;
    font-size: 28px;
}

hr{
    opacity: 0.4;
}

.date{
    text-align: left;
    margin-top: -15px;
    opacity: 0.5;
}

.time{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.time bold{
    font-size: 15px;
    vertical-align: middle;
    opacity: 0.6;
}
